<% if @wallets.count == 0 %>
  <div class="alert">
    <i class="ion-alert-circled"></i> Add your
    <%= link_to "Wallet Address", new_wallet_path %>
    to automatically receive payouts.
  </div>
<% end %>
<div class="dashboard">
  <div>
    <!-- <div class="heading">
      <h1>Dashboard</h1>
    </div> -->
    <div class="left-panel">

        <div class="table-label">
          My Miners
        </div>

        <% if @servers.count > 0 %>
          <% @servers.each do |server| %>
            <table>
              <tr>
                <td>
                  <%= server.serverid %>
                </td>
                <td class="text-right">
                  <i class="ion-record small text-success"></i> Active
                </td>
              </tr>
            </table>
          <% end%>
        <% end %>
        <table class="miners">
          <tr>
            <td>
              <%= link_to buy_path do %>
                Buy Miner
              <% end %>  
            </td>
            <td class="text-right">
              <%= link_to buy_path do %>
                $2,500 or 2 ETH
              <% end %>
            </td>
            <td>
              <%= link_to buy_path do %>
                <i class="ion-chevron-right"></i>
              <% end %>
            </td>
          </tr>
        </table>

        <div class="table-label">
          My Wallet
        </div>

        <table>
          <tr>
            <td>
              <% if @wallets.count > 0 %>
                <% @wallets.each do |wallet| %>
                  <%= link_to edit_wallet_path(wallet) do %>
                    <%= wallet.address %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_wallet_path, class: "" do %>
                  <i class="ion-android-warning text-danger"></i> Add Your Wallet
                <% end %>
              <% end %>
            </td>
            <td></td>
            <td>
              <%= link_to wallets_path do %>
                <i class="ion-chevron-right"></i>
              <% end %>
            </td>
          </tr>
        </table>

        <div class="table-label">
          My Transactions
        </div>
        <table class="transactions">
          <tr>
            <td><%= link_to "View All", transactions_path %></td>
            <td><i class="ion-chevron-right"></i></td>
          </tr>
        </table>
    </div>

    <div class="right-panel">
      <% if @transactions.count == 0 %>
        <div class="center">
          <div class="panel">
            <br>
            <h1>You've yet to earn some Ether!</h1>
            <br>
            <%= link_to "Purchase a Miner", buy_path, class: "btn" %>
            <br>
            <br>
          </div>

          <div class="pages">
            <%= render 'pages/secondpanel' %>
          </div>
      <% else %>
          <h5>YOU'VE MADE</h5>
          <div ng-repeat="item in coinValues">
            <div ng-if="item.name == 'Ethereum'">
              <h2>
                {{5.23 * item.price_usd | currency:"$USD ":0}} <small class="text-warning">5.23 ETH</small>
              </h2>
            </div>
          </div>
        </div>
      

        <div ng-controller="LineCtrl">
          <canvas
          id="line"
          class="chart chart-line"
          chart-data="data"
          chart-labels="labels"
          chart-series="series"
          chart-options="options"
          chart-dataset-override="datasetOverride"
          chart-click="onClick"></canvas>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
