<div class="dashboard">
  <div>
    <!-- <div class="heading">
      <h1>Dashboard</h1>
    </div> -->
    <div style="width: 336px; float: left; height: 100vh; background-color: #fff;">

        <div class="table-label">
          My Miners
        </div>
        <table>
          <tr>
            <td>
              <%= link_to servers_path do %>
                129128dhk3
              <% end %>
            </td>
            <td class="text-right">
              <%= link_to servers_path do %>
                <i class="ion-record small text-success"></i> Active
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to servers_path do %>
                1928dhk3
              <% end %>
            </td>
            <td class="text-right">
              <%= link_to servers_path do %>
                <i class="ion-record small text-success"></i> Active
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to servers_path do %>
                1827eh3612
              <% end %>
            <td class="text-right">
              <%= link_to servers_path do %>
                <i class="ion-record small text-danger"></i> Pending
              <% end %>
            </td>
          </tr>
        </table>

        <table class="miners">
          <tr>
            <td>
              <%= link_to buy_path do %>
                Buy Miner
              <% end %>  
            </td>
            <td class="text-right">
              <%= link_to buy_path do %>
                $2,500 or 2 ETH
              <% end %>
            </td>
            <td>
              <%= link_to buy_path do %>
                <i class="ion-chevron-right"></i>
              <% end %>
            </td>
          </tr>
        </table>

        <div class="table-label">
          My Wallet
        </div>

        <table>
          <tr>
            <td>
              <% if @wallets.count > 0 %>
                <% @wallets.each do |wallet| %>
                  <%= link_to edit_wallet_path(wallet) do %>
                    <%= wallet.address %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to "Add Your Wallet", new_wallet_path, class: "text-warning" %>
              <% end %>
            </td>
            <td></td>
            <td>
              <%= link_to wallets_path do %>
                <i class="ion-chevron-right"></i>
              <% end %>
            </td>
          </tr>
        </table>

        <div class="table-label">
          My Transactions
        </div>
        <table class="transactions">
          <tr>
            <td><%= link_to "View All", transactions_path %></td>
            <td><i class="ion-chevron-right"></i></td>
          </tr>
        </table>
    </div>
    <div style="width: calc(100% - 336px); float: right; padding: 1% 1% 1% 3%;">
      <div class="center">
        <h5>YOU'VE MADE</h5>
        <div ng-repeat="item in coinValues">
          <div ng-if="item.name == 'Ethereum'">
            <h2>
              {{5.23 * item.price_usd | currency:"$USD ":0}} <small class="text-warning">5.23 ETH</small>
            </h2>
          </div>
        </div>  
      </div>
      

      <div ng-controller="LineCtrl">
        <canvas
        id="line"
        class="chart chart-line"
        chart-data="data"
        chart-labels="labels"
        chart-series="series"
        chart-options="options"
        chart-dataset-override="datasetOverride"
        chart-click="onClick"></canvas>
      </div>
    </div>
  </div>
</div>
