<div class="servers">
<!--   <div class="subnav">
    <%#= link_to "Dashboard", dashboard_index_path %>
     / <%#= link_to "My Miners", servers_path %> / Buy Miners
  </div> -->

  <div class="subnav">
    <%= link_to dashboard_index_path do %>
      <i class="ion-chevron-left small"></i> Back to Dashboard
    <% end %>
  </div>

  <div ng-if="!$root.toggleConfirmation">
    <div class="panel">
      <h1>Buy Miners</h1>
      <table ng-init="numberMiners = 1">
        <tr>
          <td>
            How Many?
            <div class="small">$2,800/miner</div>
          </td>
          <td>
            <input type="number" class="form-control" placeholder="" ng-model="numberMiners">
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{numberMiners * 2800 | currency}}</td>
        </tr>
      </table>
      <table >
        <tr class="btn" ng-class="{'disabled': numberMiners == 0 || !numberMiners}">
          <td>
            <a
              ng-class="{'disabled': numberMiners == 0 || !numberMiners}"
              ng-click="purchasedMiner()"
              href="https://www.paypal.com/cgi-bin/webscr?amount={{numberMiners * 2500}}&business=orders@theminingco.com&cmd=_xclick&invoice=id<%= current_user.id %>minercount{{numberMiners}}date<%= Time.now.to_datetime.to_i() %>item_name={{numberMiners}}miners&item_number=id<%= current_user.id %>minercount{{numberMiners}}date<%= Time.now.to_datetime.to_i() %>notify_url=http://theminingco.com%2Fhook&no_shipping=1&address_override=0&return=http://theminingco.com/paymentsuccess/id<%= current_user.id %>minercount{{numberMiners}}date<%= Time.now.to_datetime.to_i() %>authenticity_token=<%= form_authenticity_token %>&invoice=id<%= current_user.id %>minercount{{numberMiners}}notify_url=http://theminingco.com/hook">
                <button ng-disabled="numberMiners == 0 || !numberMiners" ng-class="{'disabled': numberMiners == 0 || !numberMiners}">
              
                  <%= image_tag("Paypal.svg") %> Pay via Paypal
                </button>
              </a>    
          </td>
        </tr>
      </table>
      <br>
      <div class="text-muted small">
        <i class="ion-information-circled"></i> You'll see your miner/s on your dashboard in 3-5 days.
      </div>
    </div>

    <div class="panel">
      <h2>Set Up Process</h2>
      <table>
        <tr>
          <td><i class="ion-record text-muted small"></i></td>
          <td>Purchase miners via Paypal's secure gateway.</td>
        </tr>
        <tr>
          <td><i class="ion-record text-muted small"></i></td>
          <td>Current set up time is 3-5 days from receipt of payment. We'll send you an email when your miner is up and running.</td>
        </tr>
        <tr>
          <td><i class="ion-record text-muted small"></i></td>
          <td>Mine Ethereum at 200 MH/s for 2 years.</td>
        </tr>
        <tr>
          <td><i class="ion-record text-muted small"></i></td>
          <td>We cover electricity costs and maintenance.</td>
        </tr>
        <tr>
          <td><i class="ion-record text-muted small"></i></td>
          <td>Keep track of how your miner is performing on this site.</td>
        </tr>
        <tr>
          <td><i class="ion-record text-muted small"></i></td>
          <td>Payouts automatically sent to your wallet.</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Confirmation -->
  <div class="container" ng-if="$root.toggleConfirmation">
    <br>
    <div class="panel center">
      <h1 class="checkmark"><i class="ion-checkmark-circled text-success"></i></h1>
      <h2>Successfully received your request to purchase a miner.</h2>
      <p>We will email you as soon as the payment via Paypal is approved.</p>
      
    </div>
  </div>
</div>
