<div class="servers buy">
  <br><br>
  <div class="subnav">
    <%= link_to dashboard_index_path do %>
      <i class="ion-chevron-left small"></i> Back to Dashboard
    <% end %>
  </div>
  <div class="container">
    <p id="notice"><%= notice %></p>
    
    <% if @servers.count == 0 %>
      
      <div class="heading">
        <div class="left">
          <h1>My Miners</h1>
        </div>
        <div class="right text-right">
          <%= link_to "Buy Miners", new_server_path, class: "btn" %>
        </div>
      </div>
      

      <table>
        <tr>
          <th>Name</th>
          <th>Miner ID</th>
          <th>Mining</th>
          <th>Hashrate</th>
          <th>Total Payout</th>
          <th>Transaction #</th>
        </tr>
        <% @servers.each do |server| %>
          <tr>
            <td><%= server.name %></td>
            <td><%= server.miner_id %></td>
            <td><%= server.mining %></td>
            <td>100 MH/s</td>
            <td>4.5 ETH</td>
            <td><%= link_to "View", server %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="center">
        <h1>You currently don't have any miners.</h1>
        <br>
        <%= link_to "Buy Miners", buy_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>

<!--  
<h1>Servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mining</th>
      <th>Miner</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @servers.each do |server| %>
      <tr>
        <td><%#= server.name %></td>
        <td><%#= server.mining %></td>
        <td><%#= server.miner_id %></td>
        <td><%#= server.owner %></td>
        <td><%#= link_to 'Show', server %></td>
        <td><%#= link_to 'Edit', edit_server_path(server) %></td>
        <td><%#= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Server', new_server_path %>
-->