<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Mining:</strong>
  <%= @server.mining %>
</p>

<p>
  <strong>Miner:</strong>
  <%= @server.miner_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @server.owner %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
