<p id="notice"><%= notice %></p>
<div class="panel">
<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Mining:</strong>
  <%= @server.mining %>
</p>

<p>
  <strong>Miner:</strong>
  <%= @server.serverid %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @server.user_id %>
</p>
</div>
