<div class="pages" ng-controller="MainController">
  <div class="firstpanel" style="background-image: url(<%= image_url("firstpanel.jpg") %>);">
    <h1>Fully Managed Miners</h1>
    <h2>Invest in servers that mine Alt Coins</h2>
    <% if controller_name == 'pages' %>
      <%= link_to "Start Mining", new_user_registration_path, class: "btn" %>
    <% end %>
    <table>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>Fully Managed Miners</td>
      </tr>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>$2,800 Per Miner <small>(Good for 2 years of mining) or <a href="mailto:orders@theminerco.com">contact us</a> for custom orders.</small></td>
      </tr>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>Maintenance and Electricity Included</td>
      </tr>
      <tr>
        <td><i class="ion-checkmark-circled text-success"></i></td>
        <td>We are partners and split payouts 50/50</td>
      </tr>
    </table>
  </div>
  
  <div class="second-panel">
    <h1>How it Works</h1>
    <div class="one-third">
      <%= image_tag("miners.png") %>
      <h3>Invest $2,800/Miner</h3>
      <p>Diversify your investment portfolio by purchasing a managed miner from us. We'll make sure your investment is put to work!</p>
    </div>
    <div class="one-third">
      <%= image_tag("payout.png") %>
      <h3>We split the payout</h3>
      <p>We manage your miner in-house and make sure it runs 24/7 mining every second. In addition, we pay for the electricity. We split the payouts 50/50!</p>
    </div>
    <div class="one-third">
      <%= image_tag("grow.png") %>
      <h3>Watch your Ether grow</h3>
      <p>As time goes by your mined Ether has the potential to increase in value. The calculation below illustrates the growth process.</p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="second-panel">
    <h3>Potential Earnings/Year on $2,800 Miner</h3>
    <div ng-repeat="item in coinValues">
      <h1 class="text-success" ng-if="item.name == 'Ethereum'">
        {{7.3 * item.price_usd | currency:"$USD ":0}}
      </h1>
    </div>

    <table class="calc-table">
      <tr>
        <td>
          14.6 Ether
        </td>
        <td>x</td>
        <td>
          <span ng-repeat="item in coinValues">
            <span ng-if="item.name == 'Ethereum'">
              {{item.price_usd | currency:"$USD ":0}}
            </span>
          </span>
        </td>
        <td>x</td>
        <td>50%</td>
      </tr>
      <tr>
        <td>Avg. Total Mined/Year</td>
        <td></td>
        <td>Current Ether Price</td>
        <td></td>
        <td>Split Payouts 50/50</td>
      </tr>
    </table>

    <div ng-show="toggleExplanation">
      <h2>
        (((365 / 5) * 0.2) * 0.5) *
        <span ng-repeat="item in coinValues">
          <span ng-if="item.name == 'Ethereum'">
            {{item.price_usd | currency:"$USD ":0}}
          </span>
        </span>
      </h2>

      <h4>((Number of days in a Year / Ave Miner Payout Time) * Ave Ether Payout) * 50 Percent Split with TheMinerCo.com * Current Ether Price = Earnings</h4>
    </div>

    <br>
    <p style="width: 100%; max-width: 800px; margin: auto;"><i class="ion-information-circled small"></i> Calculation assumes the price of Ether stays steady at it's current price. It may shoot up or fall depending on various factors. Please make sure you understand the risk/reward potential. View detailed <a href="" ng-click="toggleExplanation = !toggleExplanation">calculation</a>.
    </p>
    <br>
    <br>
    <br> 
  </div>
</div>