<div class="second-panel">
  <h1>How it Works</h1>
  <div class="one-third">
    <%= image_tag("Intro Screen 1.png") %>
    <h3>Addresses You Want</h3>
    <p>Search for real addresses that you can rent for your business. No PO Boxes.</p>
  </div>
  <div class="one-third">
    <%= image_tag("Intro Screen 2.png") %>
    <h3>Yearly Subscriptions</h3>
    <p>Rent the addresses on a yearly basis. Discounted rates for longer term rentals.</p>
  </div>
  <div class="one-third">
    <%= image_tag("Intro Screen 4.png") %>
    <h3>Make it work for you</h3>
    <p>Tap into new markets by creating that 'local' feel and attract new customers.</p>
  </div>
  <div class="clearfix"></div>
</div>

<div class="faq-panel">
  <h1>FAQs</h1>
  <%= render 'layouts/faq' %>
</div>

<div class="third-panel" id="addressContent">
  <div class="container">
    <h1 class="center">Search Addresses</h1>
    <div class="header">
      <div class="left">
        <input class="form-control search" placeholder="Search Addresses ..." ng-model="searchQuery">
      </div>
      <div class="right text-right">
        <%= link_to new_user_registration_path, class: "btn btn-primary" do %>
          <i class="ion-android-cart"></i> Cart <small class="faded">({{cart.length}})</small>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
    <%= render 'addresses/table' %>
  </div>
</div>