<%= form_for(wallet) do |f| %>
  <% if wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
      <% wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%#= f.label :type %>
    <%#= f.text_field :type %>
  </div> -->

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

<!--   <div class="field">
    <%#= f.text_field :user_id %>
  </div> -->


  <div class="actions">
    <% if current_page?(new_wallet_path) %>
      <%= f.submit "Save Wallet", class: "btn" %>
    <% else %>
    <div class="left">
        <%= link_to "Delete", wallet, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="right">
        <%= f.submit "Save Wallet", class: "btn" %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
<% end %>
