<div class="wallets">
  <br><br>
  <div class="subnav">
    <%= link_to dashboard_index_path do %>
      <i class="ion-chevron-left small"></i> Back to Dashboard
    <% end %>
  </div>
  <div class="container">
    <div class="heading">
      <div class="left">
        <h1>My Wallets</h1>
      </div>
      <div class="right text-right">
        <%= link_to "Add Wallet", new_wallet_path, class: "btn btn-lg" %>
      </div>
      <div class="clearfix"></div>
    </div>

    <% @wallets.each do |wallet| %>
      <div class="card">
        <h2><%= wallet.address %></h2>
        <br ng-if="!$root.toggleWithdraw<%= wallet.id %>">
        <div class="withdrawal" ng-if="$root.toggleWithdraw<%= wallet.id %>">
          <%= render "wallets/withdraw" %>
        </div>

        <div ng-if="!$root.toggleWithdraw<%= wallet.id %>">
          <div class="left">
            <%= link_to "Delete", wallet, class: "btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="right">
            <a href="" ng-click="$root.toggleWithdraw<%= wallet.id %> = !$root.toggleWithdraw<%= wallet.id %>" class="btn btn-warning">
              Withdraw
            </a>
          </div>
          <div class="clearfix"></div>
        </div>

        <div ng-if="$root.toggleWithdraw<%= wallet.id %>">
          <div class="left">
            <a href="" class="btn btn-secondary" ng-click="$root.toggleWithdraw<%= wallet.id %> = false">
              Cancel
            </a>
          </div>
          <div class="right">
            <a href="" ng-click="$root.toggleWithdraw<%= wallet.id %> = !$root.toggleWithdraw<%= wallet.id %>" class="btn btn-success">
              Withdraw
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <p id="notice"><%#= notice %></p>

<h1>Wallets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @wallets.each do |wallet| %>
      <tr>
        <td><%#= link_to 'Show', wallet %></td>
        <td><%#= link_to 'Edit', edit_wallet_path(wallet) %></td>
        <td><%#= link_to 'Destroy', wallet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Wallet', new_wallet_path %> -->
