<div class="navbar">
  <div class="navbody">
    <div class="left">
      <a class="navbar-brand" href="/">
        <%= image_tag("Simply.svg") %>
      </a>
    </div>
    <div class="right">
      <% if current_user %>
        <% if current_user.id == 1 %>
          <%= link_to addresses_path, class: "#{ 'active' if current_page?(addresses_path) }" do %>
            <i class="small ion-android-lock text-muted"></i> Manage Address
          <% end %>
        <% end %>
        
        <%= link_to dashboard_index_path, class: "#{ 'active' if current_page?(dashboard_index_path) }" do %>
          Dashboard
        <% end %>

        <a href="" ng-click="toggleDropdown = !toggleDropdown">
          <span class="email"><%= current_user.email %></span> <i class="ion-arrow-down-b small email"></i>
          <i class="ion-navicon"></i>
        </a>
      <% else %>
        <%= link_to new_user_session_path, class: "#{ 'active' if current_page?(new_user_session_path) }" do %>
          Login
        <% end %>
        <%= link_to new_user_registration_path, class: "pr-1 #{ 'active' if current_page?(new_user_registration_path) }" do %>
          Sign Up
        <% end %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <% if current_user %>
  <div class="navdropdown" ng-if="toggleDropdown">
    <ul>
      <li>
        <%= link_to "Edit My Account", edit_user_registration_path %>
      </li>
      <li>
        <a href="mailto:hello@simplyanaddress.com">Contact Us</a>
      </li>
      <li>
        <%= link_to "Logout", destroy_user_session_path %>
      </li>
    </ul>
  </div>
  <% end %>
</div>

